{
    "parser": "babel-eslint",
    "extends": [
        "google",
        "eslint:recommended",
        "plugin:react/recommended",
        "prettier",
        "prettier/react"
    ],"env": {
        "es6": true,
        "node": true
    },
    "rules": {
        "indent": ["error", 4],
        "linebreak-style": ["error", "unix"],
        "quotes": ["error", "backtick"],
        "semi": ["error", "never"]
    },
    "parserOptions": {
        "ecmaVersion": 2016,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    }
}
